.block {
    height: 500px;
    width: 500px;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.block_drop {
    width: 150px;
}
.name {
    text-align: center;
    color: aqua;
}